.slider {
    height: calc(100vh - 80px);
    width: 100vw;
    position: relative;
    overflow: hidden;

    .container {
        width: 300vw;
        height: 100%;
        display: flex;
        transition: all 1s ease;

        img {
            width: 100vw;
            height: 100%;
            object-fit: cover;
        }
    }

    .icons {
        width: fit-content;
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100px;
        gap: 10px;
        margin: auto;

        .icon {
            width: 50px;
            height: 50px;
            border: 1px solid #999;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }

    // Media Query for mobile
    @media screen and (max-width: 600px) {
        .slider {
            height: auto;
            width: 100%;
            padding: 0 20px; // add some padding
        }

        .container {
            width: 200vw;
            height: calc(100vw * 0.75);
        }

        img {
            height: 100%;
        }

        .icons {
            bottom: 10px;
            justify-content: center;
        }

        .icon {
            width: 40px;
            height: 40px;
            font-size: 24px;
        }
    }

    // Media Query for desktop
    @media screen and (min-width: 601px) {
        .slider {
            height: calc(100vh - 80px);
            width: 80%;
            margin: 0 auto; // center the slider
        }

        .container {
            width: 300vw;
            height: 100%;
        }

        .icons {
            bottom: 50px;
            justify-content: space-between; // align icons to left and right
            left: 50px;
            right: 50px;
        }

        .icon {
            width: 50px;
            height: 50px;
            font-size: 32px;
        }
    }
}
